@import 'reset';
@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Raleway|Dancing+Script');

$main-font: 'Playfair Display', serif;
$comain-font: 'Raleway', sans-serif;
$logo-font: 'Dancing Script', cursive;


@mixin background-size($size) {
	-webkit-background-size: $size;
	   -moz-background-size: $size;
	    -ms-background-size: $size;
	    	background-size: $size;

}

@mixin grid-templete($colStart, $colEnd, $rowStart, $rowEnd) {
	grid-column-start: $colStart;
  	grid-column-end: $colEnd;
  	grid-row-start: $rowStart;
  	grid-row-end: $rowEnd;
}

@mixin align-center($display, $align, $justify) {
	display: $display;
	align-content: $align;
  	justify-items: $justify;
}

body {
	background-color: #fff;
	padding: 25px 25px 0px 25px;
	font-family: $main-font;
	color: #fff;
}

.header {
	background: url(../images/header_photo.png);
	@include background-size(cover);
	min-height: 820px;
}

.author {
	font-family: $logo-font;
	padding-top: 150px;

	h1 {
		font-size: 33px;
		display: flex;
	  	align-items: center;
	 	justify-content: center;
	}

	p {
		font-size: 23px;
		display: flex;
		align-items: center;
		justify-content: center;
		padding-bottom: 50px;
	}
}

.header-title {
	

	h2 {
		font-family: $main-font;
		font-size: 48px;
		padding-bottom: 30px;
		text-align: center;

		&:after {
		content:"\00a0";
		display: block;
		border: none;
		border-bottom: 3px solid #fff;
		width: 80px;
		left: 0;
		right: 0;
		margin: auto;
		}

	}

	p {
		font-family: $comain-font;
		font-size: 16px;
		width: 450px;
		text-align: center;
		line-height: 25px;
		left: 0;
		right: 0;
		margin: auto;
	}

	
}

.arrow-down {
	width: 100%;
	height: 100px;
	padding-top: 250px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.navbar-default {
	background-color: #fff;
	border: none;
	width: 100%;
	border-bottom: 1px solid rgb(235, 235, 235);
	height: 55px;
	color: rgb(217, 217, 217);
	font-family: $comain-font;
	font-size: 13px;
	margin-right: 50px;
	text-align: center;


	.navbar-brand {
		font-family: $logo-font;
		font-size: 23px;
		padding-left: 50px;
	}

	li {
		margin-right: 40px; 
		border-bottom: 2px solid transparent;
		

	
		&:hover, &:visited, &:active {
			background-color: transparent;
			border-bottom: 2px solid rgb(208, 124, 124);
			height: 40px;
			
		}
	}
}

.navbar-fixed-top {
	box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
}

.about-me {
	padding-top: 140px;
	

	h2 {
		text-align: center;
		color: rgb(131, 131, 131);
		font-size: 25px;
		padding-bottom: 60px;
		
		&:after {
		content:"\00a0";
		display: block;
		border: none;
		border-bottom: 3px solid rgb(208, 124, 124);
		width: 80px;
		left: 0;
		right: 0;
		margin: auto;
		}
	}

	p {
		text-align: center;
		line-height: 25px;
		left: 0;
		right: 0;
		margin: auto;
		color: rgb(193, 193, 193);
		font-family: $comain-font;
		font-size: 14px;
		width: 760px;
	}
}

.works {
	padding-top: 140px;
	padding-bottom: 50px;



	h2 {
		text-align: center;
		color: rgb(131, 131, 131);
		font-size: 25px;
		padding-bottom: 60px;
		
		&:after {
		content:"\00a0";
		display: block;
		border: none;
		border-bottom: 3px solid rgb(208, 124, 124);
		width: 80px;
		left: 0;
		right: 0;
		margin: auto;
		}
	}

	.btn, .btn-primary, .btn-lg, .btn-works {
		border: none;
		background-color: rgb(208, 124, 124);

		&:hover, &:active, &:visited {
			background-color: rgb(208, 124, 124);
			opacity: 0.9;
			border: none;
		}
	}

	button {
		border: none;
		border-radius: 0;
		margin-top: 80px;
		background-color: rgb(208, 124, 124);
		font-family: $comain-font;
		font-size: 16px;
		width: 200px;
		height: 55px;

		&:hover, &:active, &:visited {
			background-color: rgb(208, 124, 124);
			opacity: 0.9;
			border: none;
		}
	}

	
}

.wrapper {
	max-width: 1230px;
	margin: 0 auto;
	display: grid;
  	grid-template-columns: repeat(3, 1fr);
  	grid-gap: 25px;
  	grid-auto-rows: minmax(350px, auto);
}

.img1, .img2, .img3, .img4, .img5, .img6 {
	cursor: pointer;
}



.img1 {
	background: url(../images/Photo1Nature.png);
	@include background-size(cover);
	grid-column: 1 / 3;
	grid-row: 1;



	.img-box {

		.img-desc {
			background: url('../images/frame.png');
			background-size: 100% 100%;
			margin: 0 auto;
		  	margin-top: 120px;
		 	height: 120px;
		  	width: 30%;
		  	padding: 20px;
		  	text-align: center;
			vertical-align: middle;
    		transition: width 0.3s, height 0.3s ease-in-out;
			
			.img-title {
				padding-top: 15px;
				margin-bottom: 5px;
				font-size: 25px;
			}

			.img-subtitle {
				font-family: $comain-font;
				font-size: 16px;

				&:before {
					content:"";
					display: block;
					border: none;
					border-bottom: 2px solid #fff;
					left: 0;
					right: 0;
					margin: auto;
					margin-bottom: 5px;
					}
			}

		}
	}

		&:hover {
			.img-desc {
				width: 33%;
				height: 140px;
			}
		
		opacity: 0.9;
		filter: grayscale(70%);
	}
}



.img2 {
	background: url(../images/Photo2Urban.png);
	@include background-size(cover);
	grid-column: 3 / 4;
	grid-row: 1 / 3;

		.img-box {

		.img-desc {
			background: url('../images/frame.png');
			background-size: 100% 100%;
			margin: 0 auto;
		  	margin-top: 300px;
		 	height: 120px;
		  	width: 50%;
		  	padding: 20px;
		  	text-align: center;
			vertical-align: middle;
    		transition: width 0.3s, height 0.3s ease-in-out;
			
			.img-title {
				padding-top: 15px;
				margin-bottom: 5px;
				font-size: 25px;
			}

			.img-subtitle {
				font-family: $comain-font;
				font-size: 16px;

				&:before {
					content:"";
					display: block;
					border: none;
					border-bottom: 2px solid #fff;
					left: 0;
					right: 0;
					margin: auto;
					margin-bottom: 5px;
					}
			}

		}
	}

		&:hover {
			.img-desc {
				width: 53%;
				height: 140px;
			}
		
		opacity: 0.9;
		filter: grayscale(70%);
	}
}



.img3 {
	background: url(../images/Photo3People.png);
	@include background-size(cover);
  	grid-column: 1;
  	grid-row: 2/ 2;
}	

.img4 {
	background: url(../images/Photo4Wedding.png);
	@include background-size(cover);
  	grid-column: 2;
  	grid-row: 2/2;
}

.img5 {
	background: url(../images/Photo5Architecture.png);
	@include background-size(cover);
  	grid-column: 1/3;
  	grid-row: 3;

  	.img-box {

		.img-desc {
			background: url('../images/frame.png');
			background-size: 100% 100%;
			margin: 0 auto;
		  	margin-top: 120px;
		 	height: 120px;
		  	width: 30%;
		  	padding: 20px;
		  	text-align: center;
			vertical-align: middle;
    		transition: width 0.3s, height 0.3s ease-in-out;
			
			.img-title {
				padding-top: 15px;
				margin-bottom: 5px;
				font-size: 25px;
			}

			.img-subtitle {
				font-family: $comain-font;
				font-size: 16px;

				&:before {
					content:"";
					display: block;
					border: none;
					border-bottom: 2px solid #fff;
					left: 0;
					right: 0;
					margin: auto;
					margin-bottom: 5px;
					}
			}

		}
	}

		&:hover {
			.img-desc {
				width: 33%;
				height: 140px;
			}
		
		opacity: 0.9;
		filter: grayscale(70%);
	}
}

.img6 {
	background: url(../images/Photo6Animals.png);
	@include background-size(cover);
  	grid-column: 3;
  	grid-row: 3;
}

.img3, .img4, .img6 {
	.img-box {

		.img-desc {
			background: url('../images/frame.png');
			background-size: 100% 100%;
			margin: 0 auto;
		  	margin-top: 120px;
		 	height: 120px;
		  	width: 50%;
		  	padding: 20px;
		  	text-align: center;
			vertical-align: middle;
    		transition: width 0.3s, height 0.3s ease-in-out;
			
			.img-title {
				padding-top: 15px;
				margin-bottom: 5px;
				font-size: 25px;
			}

			.img-subtitle {
				font-family: $comain-font;
				font-size: 16px;

				&:before {
					content:"";
					display: block;
					border: none;
					border-bottom: 2px solid #fff;
					left: 0;
					right: 0;
					margin: auto;
					margin-bottom: 5px;
					}
			}

		}
	}

		&:hover {
			.img-desc {
				width: 53%;
				height: 140px;
			}
		
		opacity: 0.9;
		filter: grayscale(70%);
	}



}

.testimonials {
	padding-top: 140px;

	h2 {
		text-align: center;
		color: rgb(131, 131, 131);
		font-size: 25px;
		padding-bottom: 60px;
		
		&:after {
		content:"\00a0";
		display: block;
		border: none;
		border-bottom: 3px solid rgb(208, 124, 124);
		width: 80px;
		left: 0;
		right: 0;
		margin: auto;
		}
	}


}

.carousel{
    margin-top: 20px;
    color: rgb(161, 161, 161);
    font-family: $comain-font;
    width: 600px;
    left: 0;
    right: 0;
    margin: auto;

 	.item {
 		min-height: 150px;
 		text-align: center;

 		p {
 			font-size: 18px;
 			margin-bottom: 30px;
 		}

 		h5 {
 			font-size: 14px;
 			color: rgb(184, 184, 184);
 		}
 	}


		li {
			background-color: rgb(211, 211, 211);
		}				

		li.active {
				background-color: rgb(208, 124, 124);
			}
		
}

.slider{
	margin: 20px;
}


.myVideo {
	background: url(../images/my_video_photo.png) center center;
	@include background-size(cover);
	min-height: 700px;
	margin-top: 160px; 
	margin-bottom: 130px;
	position: relative;

	canvas {
		display: block;
		padding: 0;
		margin: auto;
		padding-top: 100px;
		padding-left: 60px; 
	}

	.play-frame {
		background: url('../images/video_frame.png'); 
		background-size: 100%;
		background-repeat: no-repeat; 
		width: 70px;
		height: 70px;
		margin: auto;  
		position: absolute;
		left:0;
		right: 0;
		top: 0;
		bottom: 0;


		h4 {
			font-family: $comain-font;
			font-size: 12px;
			color: #000;
			width: 160px;
			display: inline-block;
			text-align: center;
			margin-left: -45px;
		}

	}

		.play-button {
			width: 70px;
			height: 70px;
			position: relative;
			
			img {
				position: absolute;
    			margin: auto;
			    top: 0;
			    left: 0;
			    right: 0;
			    bottom: 0;
			    padding-bottom: 15px;
			}
		}
	
}


.followMe {
	padding-top: 100px; 
	padding-bottom: 50px;



	h2 {
		text-align: center;
		color: rgb(131, 131, 131);
		font-size: 25px;
		padding-bottom: 30px;
		
		&:after {
		content:"\00a0";
		display: block;
		border: none;
		border-bottom: 3px solid rgb(208, 124, 124);
		width: 80px;
		left: 0;
		right: 0;
		margin: auto;
		}
	}

}

	.icon-panel {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 80px;
	}

	.icon {
		display: inline-block;
		width: 50px;
		height: 50px;
		margin-right: 70px;
		line-height: 50px;
		text-align: center;
		border-radius: 50%;
		position: relative;
		color: rgb(130, 130, 130);

		&:after {
		    pointer-events: none;
		    position: absolute;
		    width: 100%;
		    height: 100%;
		    border-radius: 50%;
		    content:'';
		    -webkit-box-sizing: content-box;
		    -moz-box-sizing: content-box;
		    box-sizing: content-box;
		}

	}

	.icon-panel {
		.icon {
			background: rgba(230, 140, 140, .08);
			transition: background 0.2s color 0.2s;

			&:after {
				top: -8px;
				left: -8px;
				padding: 8px;
				box-shadow: 0 0 0 2px rgba(230, 140, 140, 1);
				transition: transform 0.2s, opacity 0.2s;
				transform: scale(.8);
				opacity: 0;
			}

			&:hover {
				background: rgba(230, 140, 140, 1);
				color: #fff;

				&:after {
					transform: scale(1);
  					opacity: 1;
				}
			}
		}
	}


.contact {
	background: url(../images/contact_bg.png) center center;
	@include background-size(cover);
	min-height: 800px;
	margin-top: 70px;
	color: rgb(131, 131, 131);
	padding-top: 30px;

	h2 {
		text-align: center;
		font-size: 25px;
		padding-bottom: 60px;
		padding-top: 40px;
			
		&:after {
			content:"\00a0";
			display: block;
			border: none;
			border-bottom: 3px solid rgb(208, 124, 124);
			width: 80px;
			left: 0;
			right: 0;
			margin: auto;
			}
		}

	p {
		text-align: center;
		line-height: 25px;
		left: 0;
		right: 0;
		margin: auto;
		font-family: $comain-font;
		font-size: 14px;

	}
}

.contact-box {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 100px;
}

.form-fields {
	width: 600px;
	height: 50px;
	color: rgb(180, 180, 180);
	background-color: rgb(255, 255, 255);
	border: none;
	border-radius: 0;
	padding-left: 20px;  
	font-size: 15px;
	font-family: comain-font;
}

input.form-fields,
textarea.form-fields {
	border: 1px solid rgb(208, 124, 124);

}


textarea.form-fields {
	height: 150px;
	padding-top: 20px;
	resize: none;
}


input.form-fields::placeholder,
textarea.form-fields::placeholder {
	color: rgb(180, 180, 180);
	font-size: 13px;
	font-family: comain-font;
}

.btn, .btn-primary, .btn-lg, .btn-contact {
		border: none;
		background-color: rgb(208, 124, 124);

		&:hover, &:active, &:visited {
			background-color: rgb(208, 124, 124);
			opacity: 0.9;
			border: none;
		}
	}

	.contact-box {
		button {
			border: none;
			border-radius: 0;
			margin-top: 20px;
			background-color: rgb(208, 124, 124);
			font-family: $comain-font;
			font-size: 16px;
			width: 200px;
			height: 55px;

			&:hover, &:active, &:visited {
				background-color: rgb(208, 124, 124);
				opacity: 0.9;
				border: none;
			}
		}

		span {
			font-size: 14px;
			font-family: $comain-font;
			margin-right: 90px; 
		}
	}

footer {
	min-height: 160px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: $logo-font;
	position: relative;

	img.angle-up{
		position: absolute;
    	top: 0; 
    	bottom:0; 
    	left: 0; 
    	right:0;
    	margin: auto;
	}
	.author {
	font-family: $logo-font;
	color: #000;
	margin: 0 auto;
	text-align: center;
	margin-top: 30px;

	h2 {
		font-size: 21px;
	}

	p {
		font-size: 15px;
		
	}
	p.copyright {
		font-family: $comain-font;
		font-size: 12px;
		color: rgb(131, 131, 131);
	}
}

}



@media (max-width: 320px) {
	body {
		margin: 0 auto;
		padding: 0 auto;
		overflow-x: hidden;
	}

	.header-title {
		p {
			width: 260px;
			padding-top: 30px;
		}
	}

	.navbar-default {
		margin: 0 auto;

		li {
			width: 320px;
			text-align: center;
			margin-right: 0px;
			
			a {
				color: #000;
				font-weight: bold;
			}
		}


	}

	.navbar-nav {
			width: 100%;
	}

	ul.nav.navbar-nav.navbar-right,
	div.navbar-collapse {
		background-color: #fff;
	}

	div.navbar-collapse.collapse.in {
		border-bottom: 1px solid rgb(131, 131, 131);	
	}

	.arrow-down {
		padding-bottom: 30px;
	}
	

	.about-me {
		h2 {
			padding-top: 30px;
		}

		p {
			width: 260px;
			padding-top: 30px;
		}
	}

	.wrapper {
		max-width: 300px;
		margin: 0 auto;
		display: grid;
	  	grid-template-columns: repeat(1, 1fr);
	  	grid-gap: 25px;
	  	grid-auto-rows: minmax(300px, auto);
	}

	.img1 {
		background: url(../images/Photo1Nature.png);
		@include background-size(cover);
		grid-column: 1;
		grid-row: 1 ;
	}	

	.img2 {
	background: url(../images/Photo2Urban.png);
	@include background-size(cover);
	grid-column: 1;
	grid-row: 2;
	height: 600px;
	}

	.img3 {
	background: url(../images/Photo3People.png);
	@include background-size(cover);
  	grid-column: 1;
  	grid-row: 3;
	}	

	.img4 {
	background: url(../images/Photo4Wedding.png);
	@include background-size(cover);
  	grid-column: 1;
  	grid-row: 4;
	}

	.img5 {
	background: url(../images/Photo5Architecture.png);
	@include background-size(cover);
  	grid-column: 1;
  	grid-row: 5;
  	}

	.img6 {
	background: url(../images/Photo6Animals.png);
	@include background-size(cover);
  	grid-column: 1;
  	grid-row: 6;
	}

	.img1, .img3, .img4, .img6 {
	.img-box {

		.img-desc {
			background: url('../images/frame.png');
			background-size: 100% 100%;
			margin: 0 auto;
		  	margin-top: 100px;
		 	height: 120px;
		  	width: 70%;
		  	padding: 20px;
		  	text-align: center;
			vertical-align: middle;
    		transition: width 0.3s, height 0.3s ease-in-out;
			
			.img-title {
				padding-top: 15px;
				margin-bottom: 5px;
				font-size: 25px;
			}

			.img-subtitle {
				font-family: $comain-font;
				font-size: 16px;

				&:before {
					content:"";
					display: block;
					border: none;
					border-bottom: 2px solid #fff;
					left: 0;
					right: 0;
					margin: auto;
					margin-bottom: 5px;
					}
			}

		}
	}

		&:hover {
			.img-desc {
				width: 73%;
				height: 140px;
			}
		
		opacity: 0.9;
		filter: grayscale(70%);
	}

}

.img5{
	.img-box {

		.img-desc {
			background: url('../images/frame.png');
			background-size: 100% 100%;
			margin: 0 auto;
		  	margin-top: 100px;
		 	height: 120px;
		  	width: 80%;
		  	padding: 20px;
		  	text-align: center;
			vertical-align: middle;
    		transition: width 0.3s, height 0.3s ease-in-out;
			
			.img-title {
				padding-top: 15px;
				margin-bottom: 5px;
				font-size: 25px;
			}

			.img-subtitle {
				font-family: $comain-font;
				font-size: 16px;

				&:before {
					content:"";
					display: block;
					border: none;
					border-bottom: 2px solid #fff;
					left: 0;
					right: 0;
					margin: auto;
					margin-bottom: 5px;
					}
			}

		}
	}

		&:hover {
			.img-desc {
				width: 83%;
				height: 140px;
			}
		
		opacity: 0.9;
		filter: grayscale(70%);
	}

}

.img2{
	.img-box {

		.img-desc {
			background: url('../images/frame.png');
			background-size: 100% 100%;
			margin: 0 auto;
		  	margin-top: 250px;
		 	height: 120px;
		  	width: 70%;
		  	padding: 20px;
		  	text-align: center;
			vertical-align: middle;
    		transition: width 0.3s, height 0.3s ease-in-out;
			
			.img-title {
				padding-top: 15px;
				margin-bottom: 5px;
				font-size: 25px;
			}

			.img-subtitle {
				font-family: $comain-font;
				font-size: 16px;

				&:before {
					content:"";
					display: block;
					border: none;
					border-bottom: 2px solid #fff;
					left: 0;
					right: 0;
					margin: auto;
					margin-bottom: 5px;
					}
			}

		}
	}

		&:hover {
			.img-desc {
				width: 83%;
				height: 140px;
			}
		
		opacity: 0.9;
		filter: grayscale(70%);
	}

}

	.carousel {
		width: 90%;

		h5 {
			margin-bottom: 20px;
		}
	}

	#canvas {
		display: none;
	}

	.icon-panel {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 80px;
	}

	.icon {
		display: inline-block;
		width: 50px;
		height: 50px;
		margin-right: 70px;
		line-height: 50px;
		text-align: center;
		border-radius: 50%;
		position: relative;
		color: rgb(130, 130, 130);

		&:after {
		    pointer-events: none;
		    position: absolute;
		    width: 100%;
		    height: 100%;
		    border-radius: 50%;
		    content:'';
		    -webkit-box-sizing: content-box;
		    -moz-box-sizing: content-box;
		    box-sizing: content-box;
		}

	}

	.icon-panel {
		display: inline-block;
		margin: 0 auto;
		text-align: center;
		margin-left: 50px;
	}

	.icon {
		margin-bottom: 20px;
	}

	.form-fields {
		width: 100%;
	}

}


@media (min-width: 321px) and (max-width: 375px) {
	.header-title {
		p {
			width: 290px;
			padding-top: 30px;
		}
	}

	
	.navbar-default {
		margin: 0 auto;

		li {
			width: 375px;
			text-align: center;
			margin-right: 0px;
			
			a {
				color: #000;
				font-weight: bold;
			}
		}


	}

	.navbar-nav {
			width: 100%;
	}

	ul.nav.navbar-nav.navbar-right,
	div.navbar-collapse {
		background-color: #fff;
	}

	div.navbar-collapse.collapse.in {
		border-bottom: 1px solid rgb(131, 131, 131);	
	}

.arrow-down {
		padding-bottom: 30px;
	}

	.about-me {
		h2 {
			padding-top: 30px;
		}

		p {
			width: 290px;
		}
	}

		.wrapper {
		max-width: 350px;
		margin: 0 auto;
		display: grid;
	  	grid-template-columns: repeat(1, 1fr);
	  	grid-gap: 25px;
	  	grid-auto-rows: minmax(300px, auto);
	}

	.img1 {
		background: url(../images/Photo1Nature.png);
		@include background-size(cover);
		grid-column: 1;
		grid-row: 1 ;
	}	

	.img2 {
	background: url(../images/Photo2Urban.png);
	@include background-size(cover);
	grid-column: 1;
	grid-row: 2;
	height: 600px;
	}

	.img3 {
	background: url(../images/Photo3People.png);
	@include background-size(cover);
  	grid-column: 1;
  	grid-row: 3;
	}	

	.img4 {
	background: url(../images/Photo4Wedding.png);
	@include background-size(cover);
  	grid-column: 1;
  	grid-row: 4;
	}

	.img5 {
	background: url(../images/Photo5Architecture.png);
	@include background-size(cover);
  	grid-column: 1;
  	grid-row: 5;
  	}

	.img6 {
	background: url(../images/Photo6Animals.png);
	@include background-size(cover);
  	grid-column: 1;
  	grid-row: 6;
	}

	.img3, .img4, .img6 {
		.img-box {
			.img-desc {
				margin-top: 100px;
			}
		}
	}

	.img2 {
		.img-box {
			.img-desc {
				margin-top: 230px;
			}
		}
	}

	.img1{
		.img-box {

			.img-desc {
				background: url('../images/frame.png');
				background-size: 100% 100%;
				margin: 0 auto;
			  	margin-top: 100px;
			 	height: 120px;
			  	width: 50%;
			  	padding: 20px;
			  	text-align: center;
				vertical-align: middle;
	    		transition: width 0.3s, height 0.3s ease-in-out;
				
				.img-title {
					padding-top: 15px;
					margin-bottom: 5px;
					font-size: 25px;
				}

				.img-subtitle {
					font-family: $comain-font;
					font-size: 16px;

					&:before {
						content:"";
						display: block;
						border: none;
						border-bottom: 2px solid #fff;
						left: 0;
						right: 0;
						margin: auto;
						margin-bottom: 5px;
						}
				}

		}
	}

		&:hover {
			.img-desc {
				width: 53%;
				height: 140px;
			}
		
		opacity: 0.9;
		filter: grayscale(70%);
	}

}

.img5{
		.img-box {

			.img-desc {
				background: url('../images/frame.png');
				background-size: 100% 100%;
				margin: 0 auto;
			  	margin-top: 100px;
			 	height: 120px;
			  	width: 80%;
			  	padding: 20px;
			  	text-align: center;
				vertical-align: middle;
	    		transition: width 0.3s, height 0.3s ease-in-out;
				
				.img-title {
					padding-top: 15px;
					margin-bottom: 5px;
					font-size: 25px;
				}

				.img-subtitle {
					font-family: $comain-font;
					font-size: 16px;

					&:before {
						content:"";
						display: block;
						border: none;
						border-bottom: 2px solid #fff;
						left: 0;
						right: 0;
						margin: auto;
						margin-bottom: 5px;
						}
				}

		}
	}

		&:hover {
			.img-desc {
				width: 83%;
				height: 140px;
			}
		
		opacity: 0.9;
		filter: grayscale(70%);
	}

}

	.carousel {
		width: 90%;

		h5 {
			margin-bottom: 20px;
		}
	}

	#canvas {
		display: none;
	}

	.icon-panel {
		display: inline-block;
		margin: 0 auto;
		text-align: center;
		margin-left: 50px;
		margin-top: 50px;
	}

	.icon {
		margin-bottom: 20px;
	}

	.form-fields {
		width: 100%;
	}


}

@media (min-width: 376px) and (max-width: 425px) {
	.header-title {
		p {
			width: 320px;
			padding-top: 30px;
		}
	}

	.navbar-default {
		margin: 0 auto;

		li {
			width: 425px;
			text-align: center;
			margin-right: 0px;
			
			a {
				color: #000;
				font-weight: bold;
			}
		}


	}

	.navbar-nav {
			width: 100%;
	}

	ul.nav.navbar-nav.navbar-right,
	div.navbar-collapse {
		background-color: #fff;
	}

	div.navbar-collapse.collapse.in {
		border-bottom: 1px solid rgb(131, 131, 131);	
	}
	.about-me {
		h2 {
			padding-top: 30px;
		}

		p {
			width: 320px;
		}
	}

			.wrapper {
		max-width: 380px;
		margin: 0 auto;
		display: grid;
	  	grid-template-columns: repeat(1, 1fr);
	  	grid-gap: 25px;
	  	grid-auto-rows: minmax(300px, auto);
	}

	.img1 {
		background: url(../images/Photo1Nature.png);
		@include background-size(cover);
		grid-column: 1;
		grid-row: 1 ;
	}	

	.img2 {
	background: url(../images/Photo2Urban.png);
	@include background-size(cover);
	grid-column: 1;
	grid-row: 2;
	height: 600px;
	}

	.img3 {
	background: url(../images/Photo3People.png);
	@include background-size(cover);
  	grid-column: 1;
  	grid-row: 3;
	}	

	.img4 {
	background: url(../images/Photo4Wedding.png);
	@include background-size(cover);
  	grid-column: 1;
  	grid-row: 4;
	}

	.img5 {
	background: url(../images/Photo5Architecture.png);
	@include background-size(cover);
  	grid-column: 1;
  	grid-row: 5;
  	}

	.img6 {
	background: url(../images/Photo6Animals.png);
	@include background-size(cover);
  	grid-column: 1;
  	grid-row: 6;
	}

	.img3, .img4, .img6 {
		.img-box {
			.img-desc {
				margin-top: 100px;
			}
		}
	}

	.img2 {
		.img-box {
			.img-desc {
				margin-top: 230px;
			}
		}
	}

	.img1{
		.img-box {

			.img-desc {
				background: url('../images/frame.png');
				background-size: 100% 100%;
				margin: 0 auto;
			  	margin-top: 100px;
			 	height: 120px;
			  	width: 50%;
			  	padding: 20px;
			  	text-align: center;
				vertical-align: middle;
	    		transition: width 0.3s, height 0.3s ease-in-out;
				
				.img-title {
					padding-top: 15px;
					margin-bottom: 5px;
					font-size: 25px;
				}

				.img-subtitle {
					font-family: $comain-font;
					font-size: 16px;

					&:before {
						content:"";
						display: block;
						border: none;
						border-bottom: 2px solid #fff;
						left: 0;
						right: 0;
						margin: auto;
						margin-bottom: 5px;
						}
				}

		}
	}

		&:hover {
			.img-desc {
				width: 53%;
				height: 140px;
			}
		
		opacity: 0.9;
		filter: grayscale(70%);
	}

}

.img5{
		.img-box {

			.img-desc {
				background: url('../images/frame.png');
				background-size: 100% 100%;
				margin: 0 auto;
			  	margin-top: 100px;
			 	height: 120px;
			  	width: 80%;
			  	padding: 20px;
			  	text-align: center;
				vertical-align: middle;
	    		transition: width 0.3s, height 0.3s ease-in-out;
				
				.img-title {
					padding-top: 15px;
					margin-bottom: 5px;
					font-size: 25px;
				}

				.img-subtitle {
					font-family: $comain-font;
					font-size: 16px;

					&:before {
						content:"";
						display: block;
						border: none;
						border-bottom: 2px solid #fff;
						left: 0;
						right: 0;
						margin: auto;
						margin-bottom: 5px;
						}
				}

		}
	}

		&:hover {
			.img-desc {
				width: 83%;
				height: 140px;
			}
		
		opacity: 0.9;
		filter: grayscale(70%);
	}

}


	.carousel {
		width: 90%;

		h5 {
			margin-bottom: 20px;
		}
	}

	#canvas {
		display: none;
	}

	.icon-panel {
		display: inline-block;
		margin: 0 auto;
		text-align: center;
		margin-left: 50px;
		margin-top: 50px;
	}

	.icon {
		margin-bottom: 20px;
	}

	.form-fields {
		width: 100%;
	}

	.contact-box {
		span {
			display: block;
		}
	}
}

@media (min-width: 426px) and (max-width: 768px) {
	.navbar-default {
		margin: 0 auto;
		
		.navbar-brand {
			padding-left: 30px;
		}
	}

	.about-me {
		p {
			width: 700px;
		}
	}


			.wrapper {
		max-width: 450px;
		margin: 0 auto;
		display: grid;
	  	grid-template-columns: repeat(1, 1fr);
	  	grid-gap: 25px;
	  	grid-auto-rows: minmax(300px, auto);
	}

	.img1 {
		background: url(../images/Photo1Nature.png);
		@include background-size(cover);
		grid-column: 1;
		grid-row: 1 ;
	}	

	.img2 {
	background: url(../images/Photo2Urban.png);
	@include background-size(cover);
	grid-column: 1;
	grid-row: 2;
	height: 600px;
	}

	.img3 {
	background: url(../images/Photo3People.png);
	@include background-size(cover);
  	grid-column: 1;
  	grid-row: 3;
	}	

	.img4 {
	background: url(../images/Photo4Wedding.png);
	@include background-size(cover);
  	grid-column: 1;
  	grid-row: 4;
	}

	.img5 {
	background: url(../images/Photo5Architecture.png);
	@include background-size(cover);
  	grid-column: 1;
  	grid-row: 5;
  	}

	.img6 {
	background: url(../images/Photo6Animals.png);
	@include background-size(cover);
  	grid-column: 1;
  	grid-row: 6;
	}

	.img3, .img4, .img6 {
		.img-box {
			.img-desc {
				margin-top: 100px;
			}
		}
	}

	.img2 {
		.img-box {
			.img-desc {
				margin-top: 230px;
			}
		}
	}

	.img1{
		.img-box {

			.img-desc {
				background: url('../images/frame.png');
				background-size: 100% 100%;
				margin: 0 auto;
			  	margin-top: 100px;
			 	height: 120px;
			  	width: 50%;
			  	padding: 20px;
			  	text-align: center;
				vertical-align: middle;
	    		transition: width 0.3s, height 0.3s ease-in-out;
				
				.img-title {
					padding-top: 15px;
					margin-bottom: 5px;
					font-size: 25px;
				}

				.img-subtitle {
					font-family: $comain-font;
					font-size: 16px;

					&:before {
						content:"";
						display: block;
						border: none;
						border-bottom: 2px solid #fff;
						left: 0;
						right: 0;
						margin: auto;
						margin-bottom: 5px;
						}
				}

		}
	}

		&:hover {
			.img-desc {
				width: 53%;
				height: 140px;
			}
		
		opacity: 0.9;
		filter: grayscale(70%);
	}

}

.img5{
		.img-box {

			.img-desc {
				background: url('../images/frame.png');
				background-size: 100% 100%;
				margin: 0 auto;
			  	margin-top: 100px;
			 	height: 120px;
			  	width: 60%;
			  	padding: 20px;
			  	text-align: center;
				vertical-align: middle;
	    		transition: width 0.3s, height 0.3s ease-in-out;
				
				.img-title {
					padding-top: 15px;
					margin-bottom: 5px;
					font-size: 25px;
				}

				.img-subtitle {
					font-family: $comain-font;
					font-size: 16px;

					&:before {
						content:"";
						display: block;
						border: none;
						border-bottom: 2px solid #fff;
						left: 0;
						right: 0;
						margin: auto;
						margin-bottom: 5px;
						}
				}

		}
	}

		&:hover {
			.img-desc {
				width: 63%;
				height: 140px;
			}
		
		opacity: 0.9;
		filter: grayscale(70%);
	}

}



}


@media (min-width: 769px) and (max-width: 1024px) {
	.img5{
		.img-box {

			.img-desc {
				background: url('../images/frame.png');
				background-size: 100% 100%;
				margin: 0 auto;
			  	margin-top: 100px;
			 	height: 120px;
			  	width: 40%;
			  	padding: 20px;
			  	text-align: center;
				vertical-align: middle;
	    		transition: width 0.3s, height 0.3s ease-in-out;
				
				.img-title {
					padding-top: 15px;
					margin-bottom: 5px;
					font-size: 25px;
				}

				.img-subtitle {
					font-family: $comain-font;
					font-size: 16px;

					&:before {
						content:"";
						display: block;
						border: none;
						border-bottom: 2px solid #fff;
						left: 0;
						right: 0;
						margin: auto;
						margin-bottom: 5px;
						}
				}

		}
	}

		&:hover {
			.img-desc {
				width: 45%;
				height: 140px;
			}
		
		opacity: 0.9;
		filter: grayscale(70%);
	}

}

}
